/* цвет соновного текста #757575 */

/* вторичный цвет текста #212121 */

/* акцент #2196F3 */

/* цвет фона #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
}
/* logo */
.logo {
  color: #000000;
}
.logo-blue {
  color: #2196f3;
}

ul {
  list-style: none;
}

/* site-nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* addresses */
.addresses .link {
  color: var(--primary-text-color);
}
.addresses .link:hover,
.addresses .link:focus {
  color: #2196f3;
}

/* Sections */
.section-title {
  color: var(--title-text-color);
}

.benefits .title {
  color: var(--title-text-color);
}

/* Team */
.team .title {
  color: var(--title-text-color);
}

/* button */
/* .button{
    color: #ffffff;
    background-color: var(--accent-color);
} */

.button.primary {
  color: var(--white);
  background-color: var(--accent-color);
}
.button.secondary {
  color: var(--accent-color);
  background-color: var(--white);
}

/* footer */
.footer-logo {
  color: var(--white);
}
.footer-address {
  font-style: normal;
  color: var(--white);
}
.contacts .link {
  color: rgba(255, 255, 255, 0.6);
}

/* portfolio page */
.filters {
  text-align: center;
}
.filters > .button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
}
.filters > .button:hover,
.filters > .button:focus {
  color: var(--white);
  background-color: var(--accent-color);
}
.works-list a {
  text-decoration: none;
}
.works-list .title {
  color: var(--title-text-color);
}
.works-list .description {
  color: var(--primary-text-color);
}
